.form-radio input + label {
  margin: 0 3px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 2px #ebebeb;
  background-color: #FFF;
  font-size: 14px;
  font-weight: 600;
  color: #888;
  text-align: center;
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%; }
.form-radio input:checked + label {
  background-color: #111;
  color: #FFF;
  border-color: #111;
  z-index: 1; }
.form-radio input:focus + label {
  outline: none; }
.form-radio input:hover {
  background-color: #111;
  color: #FFF;
  border-color: #111; }

.radio-item-list {
  margin: 0 -3px; }

.active {
  position: relative;
  background: #edb77d;
  padding: 14px 1px;
  margin-right: 7px;
  margin-left: 3px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px; }
.active:after {
  position: absolute;
  content: 'Person';
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 11px;
  color: #222;
  font-weight: bold; }
.active input + label {
  margin-right: 59px; }

form {
  padding: 72px 70px 70px 70px; }

.form-group {
  margin-bottom: 10px;
  position: relative; }

.form-input {
  padding-top: 21px; }

.form-label {
  position: absolute;
  transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  color: #bebebe;
  left: 0;
  top: 23px; }

